<p>All the jobs listed here are at startups located in Paris (or allow remote work). Some are now established companies. Others may be only a few weeks old.</p>

<table id="jobstable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Company</th>
      <th>Location</th>
      <th>Salary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.company %></td>
        <td><%= job.location %></td>
        <td><%= job.salary %></td>
        <td><button type="button" class="btn btn-success"><%= link_to 'Details', job %></button></td>
        <td><button type="button" class="btn btn-warning"><%= link_to 'Follow', edit_job_path(job) %></button></td>
        <td><button type="button" class="btn btn-danger"><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
